{{ define "content" }}

	<div class="panel panel-default">
		<div class="panel-heading">
			<span class="lead"> <i class="fa fa-comment-o"></i> {{ .Topic }}</span>
			<div class="pull-right">
				由 {{ .User.Name }} 创建于 {{ .CreatedAt | fdate }}
			</div>

		</div>

        {{ range .Posts }}
			<div class="panel-body">
				<span class="lead"> <i class="fa fa-comment"></i> {{ .Body }}</span>
				<div class="pull-right">
                    {{ .User.Name }} - {{ .CreatedAt | fdate }}
				</div>
			</div>
        {{ end }}

	</div>

{{ end }}